*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
serviceAccountKey.json
credentials.json
token.pickle
swachhdrone-keystore
__pycache__/
.gradle/
.kotlin/
build/
app/release/
detections/
downloads/
gpx/
vid/
models/
*.log
hs_err_pid*.log
replay_pid*.log
output.mp4
*.pt
.idea/deploymentTargetSelector.xml
local.properties
